.p1 {
    font-size: 18px;
}
.p2 {
    font-size: 18px;
    margin: 0px;
}
.p3 {
    color: var(--White, #FFF);
    font-size: 18px;
    margin: 0px;
    text-align: center;
}
h1 {  
    color: brown;
    font-size: 70px;
    font-style: normal;
}
.text {
    color: blue;
    font-size: 32px;
    margin: 0px;
    font-style: normal;
}
.Akita {
    background-color: #7057EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 80px 0px;
    border-radius: 24px;
    gap: 32px;
}
.with {
    color: var(--White, #FFF);
    font-size: 52px;
    font-style: normal;
    margin: 0px;
}
.btn {
    display: inline-block;
    background: #FFF;
    color: #2C2C2C;
    padding: 16px 20px;
    text-decoration: none;
    border-radius: 12px;
}
.akit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.hid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}